.inspirationalPageContainer{
    font-family: 'DINPro';
    margin-bottom: 40px;
}
.mainImageInspirational{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.mainImageInspirational img{
    width: 100%;
    height: 100%;
    object-fit: contain;  
}
.introTextInspirational{
    text-align: center;
    margin-bottom: 40px;
}
.container__twoColumn{
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.articleCard:nth-child(even){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "contentFilter imageFilter";
}
input#searchArticles {
    min-width: 300px;
    height: 40px;
    padding: 0px 10px;
    border: 1px solid #ccc;
    color: black;
}
.articleCard:nth-child(odd){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "imageFilter contentFilter";
}
.articleContainer {
    width: 80%;
    margin: 0 auto;
}
.container__80{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.container__80 h4{
    margin-bottom: 0px;
}
.articleContainer__image img{
   width: 100%;
}
.articleContainer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    grid-area: contentFilter;
}
.articleContainer__image{
    grid-area: imageFilter;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
a.btn.btn-default.btn-success {
    max-width: 300px;
}
#categories{
    max-width: 200px;
}
.categorySelector{
    margin-left: auto;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
}
.categorySelector__search {
    margin-right: 40px;
}
.loadMoreContainer{
    text-align: center;
    margin-bottom: 40px;
}
#loadMoreArticles{
    color: white;
    background-color: black;
    border: 1px solid black;
    text-transform: uppercase;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border: 0;
}
.displayNone{
    display: none;
}
.container__twoColumn span{
    text-transform: uppercase;
    margin-right: 20px;
}
@media only screen and (max-width: 800px) and (min-width: 601px) {
    .articleCard:nth-child(odd){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "imageFilter" 
            "contentFilter";
                margin-bottom: 20px;
      }
      input#searchArticles {
        min-width: 90%;
        margin: 0 auto;
    }
      .articleCard:nth-child(even){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "imageFilter" 
            "contentFilter";
            margin-bottom: 20px;
      }
      .container__twoColumn{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
    }
    .categorySelector__search {
        margin-bottom: 20px;
        margin-right: 40px;
    }
    .articleContainer__content {
        padding: 10px 0px;
    }

    .categorySelector{
        margin-left: 0px;
        display: grid;
        width: 100%;
        align-items: start;
    }
}

@media only screen and (max-width: 600px) and (min-width: 0px) {
    .articleCard:nth-child(odd){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "imageFilter" 
            "contentFilter";
            margin-bottom: 20px;
      }
      input#searchArticles {
        min-width: 90%;
        margin: 0 auto;
    }

      .articleCard:nth-child(even){
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "imageFilter" 
            "contentFilter";
               margin-bottom: 20px;
      }
      .container__twoColumn{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
    }
    .categorySelector__search {
        margin-bottom: 20px;
        margin-right: 40px;
    }
    .articleContainer__content {
        padding: 10px 0px;
    }
    .categorySelector{
        margin-left: 0px;
        display: grid;
        width: 100%;
        align-items: start;
    }
}